#home {
    position: relative;

    .intro{
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        width: 375px;
        
        h1 {
            color: white;
            text-align: center;
        }
    
        .name{
            font-size: 5em;
            color: $blue;
            display: none;
    
            img{
                // width: 50px;
                width: 75px;
                margin: 0 10px;
            }
        }
    
        .sub {
            .and {
                color: $flamingo;
            }
        }
    }

    .scroll-down{
        position: fixed;
        font-size: 0.8em;
        bottom: 80px;
        left: 25px;
        line-height: 1;
        letter-spacing: 0.3em;
        writing-mode: vertical-rl;
        color: #fff;
        z-index: 1;
    }
      
    .scroll-down:after{
        content: "";
        width: 2px;
        height: 64px;
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -80px;
    }

    .rings{
        position:fixed;
        transition: all 2s ease-out;
        width: 1300px;
        left: 72.5%;
        top: 50%;
    }
}

//PC Screens+
@media only screen and (min-width: 1024px){
    #home{
        .scroll-down{
            font-size: 1em;
            left: 50px;
        }

        .intro{
            width: 500px;
            h1{
                font-size: 2em;
            }

            .name{
                font-size: 10em;

                img{
                    // width: 100px;
                    width: 150px;
                    margin: 0 20px;
                }
            }
        }
    }
}